
/* HTML */

html {

  /* Color variables */
  --bright: #FAFAFA;
  --header: #EAEAEA;
  --medium: #7695AB;
  --featured: #FFA213;
  --dark: #191919;

  /* Font family variables */
  --heading: 'Montserrat', Verdana, sans-serif;
  --main-text: 'Roboto', Verdana, sans-serif;
  --course: 'Raleway', Verdana, sans-serif;
  --quote: 'El Messiri', sans-serif;

  /* Container variable */
  --container: 1280px;

  color: var(--dark);
  font-family: var(--main-text);
  font-size: 16px;
}

/* ELEMENTS */

a {
  text-decoration: none;
}

aside { /* Information and Thesis sections */
  margin-left: 1.5rem;
  width: 30rem;
}

aside picture { /* Information and Thesis sections */
  max-width: 35%;
  min-width: 35%;
  padding-right: 1.5rem;
}

blockquote {
  font-family: var(--quote);
  font-size: 1.4rem;
  line-height: 1.5em;
  font-style: italic;
}

body {
  background-color: var(--dark);
}

h1 {
  font-size: 2rem;
}

a h1 {
  color: var(--dark);
}

h2 {
  font-family: var(--heading);
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.3em;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2em;
}

li {
  display: flex;
}

button:hover,
li:hover {
  cursor: pointer;
}

button:focus,
li:focus {
  outline: 0;
}

aside li {
transition: background-color 600ms ease 200ms;
}

aside li:hover,
aside li:focus {
  background-color: var(--medium);
  outline: 0;
}

nav {
  font-weight: bold;
}

header nav a,
footer nav a {
  transition: color 400ms ease 100ms;
}

header nav a:hover,
header nav a:focus,
footer nav a:hover,
footer nav a:focus {
  color: var(--featured);
}

p {
  font-size: 1.2rem;
  line-height: 1.5em
}

figure {
  align-items: center;
  display: flex;
}

footer .desktop a,
header nav a {
  color: inherit;
  margin-left: 1rem;
}

footer div,
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img,
video /* Thesis section */ {
  max-width: 100%;
}

@media only screen and (max-width: 900px) {

  aside { /* Information and Thesis sections */
    /*min-width: none;*/
  }
}

@media only screen and (max-width: 400px) {

  h2 {
    font-size: 2rem;
    line-height: 1.3em;
  }

  h3 {
    font-size: 1.4rem;
    line-height: 1.2em;
  }
}

@media only screen and (min-width: 900px) {

  aside { /* Information and Thesis sections */
    min-width: 30rem;
  }
}


/* CLASSES */

.aside-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile { /* display only in widths bellow 900px */
  display: none;
}

@media only screen and (max-width: 900px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}


/* HEADER */

header {
  background-color: var(--header);
  font-size: 1.4rem;
  height: 4rem;
  position: fixed;
  z-index: 5;
  width: 100%;
}

header div {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--container);
  width: var(--container);
}

header figure a {
  align-items: center;
  display: flex;
}

header span { /* Title color change */
  color: var(--featured);
}

header nav a {
  font-size: 1.2rem;
}

header .mobile{
  align-items: center;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

header img,
header a svg {
  height: 3rem;
  width: 2.5rem;
}

header a svg:hover .logo,
header a svg:focus .logo,
header a svg:hover .on-campus,
header a svg:focus .on-campus,
header a svg:hover .online,
header a svg:focus .online,
header a svg:hover .login,
header a svg:focus .login {
  fill: var(--featured);
  transition: fill 400ms ease 100ms;
}

@media only screen and (max-width: 1328px) { /* 1280 + 1.5 x 16 x 2 */
  header figure,
  header nav {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 900px) {

  header nav a {
    align-items: center;
    display: flex;
    margin: 0;
  }
}


/* MAIN */

footer,
main {
  background-color: var(--bright);
  max-width: var(--container);
  margin: 0 auto;
  top: 4rem;
  position: relative;
}

main section:nth-child(odd) { /* Color switch between sections */
  background-color: var(--medium);
}

/* Jumbotron */

#jumbotron {
  display: flex;
  padding: 2rem 0;
}

#jumbotron picture { /* Banner */
  padding-left: 1.5rem;
  width: 60%;
}

#jumbotron div { /* Jumbotron text */
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  width: 29rem;
}

#jumbotron h3 {
  margin-top: 3rem;
}

#jumbotron button {
  background-color:  var(--dark);
  border: none;
  color: var(--bright);
  font-size: 1.5rem;
  margin-top: 3rem;
  padding: 1rem;
  transition: background-color 400ms ease 200ms,
              color 400ms ease 200ms;
}

#jumbotron button:hover,
#jumbotron button:focus {
  background-color: var(--bright);
  color: var(--featured);
}

@media only screen and (max-width: 900px) {

  #jumbotron {
    flex-direction: column;
    padding: 0 0 2rem 0;
  }

  #jumbotron picture { /* Banner */
    height: 15rem;
    overflow: hidden;
    padding: 0;
  }

  #jumbotron picture,
  #jumbotron div {
    width: 100%;
  }

  #jumbotron div { /* Jumbotron text */
    padding: 2rem 0;
  }

  h2,
  h3,
  button {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100%;
  }

  #jumbotron h3 {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 400px) {
  #jumbotron{
    padding-bottom: 0;
  }
}

/* Information */

#information {
  display: flex;
}

#information > div { /* Main Information */
  margin-top: 2rem;
  padding-left: 1.5rem;
}

#information > div > div:last-child {
  padding-top: 2rem;
}

#information > div > div:last-child p {
  margin: 2.5rem 0;
}

#information blockquote { /* Quote */
  margin-top: 1.5rem;
}

#information > div p { /* Quote Author */
  font-size: 1.2rem;
  font-weight: bold;
}

#information aside { /* Aside Information */
  padding-top: 1rem;
}

#information li { /* Information Boxes */
  padding: 1rem 0 1rem 1rem;
}

#information li div div {
  margin-bottom: 1.5rem;
  padding-right: 1.5rem;
}

#information a {
  color: var(--featured);
  transition: font-weight 200ms;
}

#information a:hover,
#information a:focus {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {

  #information {
    background-color: var(--bright);
    padding: 0;
  }

  #information aside { /* Becomes the main content of the section */
    padding-top: 0;
    width: 100%;
  }

  aside,
  #information h3 {
    margin: 0;
  }

  aside,
  #information li {
    border: none;
    flex-direction: column;
  }

  #information li {
    justify-content: center;
    padding: 2rem 1rem;
  }

  #information li > div:last-child {
    padding: 1rem;
  }

  #information li div div {
    padding: 0;
    margin-bottom: 1rem;
  }

  #information img,
  #information picture {
    padding: 0;
    max-width: none;
    width: 100%;
  }

  #information li a,
  #information li p {
    font-size: 1.4rem;
  }

  button {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 400px) {

  #information li {
    padding: 1rem 1rem;
  }

  /*#information li:first-child {
    padding-top: 2rem;
  }*/

  #information li a,
  #information li p {
    font-size: 1rem;
  }
}

/* Courses */

#course {
  padding: 2rem 0;
}

#course h2 {
  margin-bottom: 1rem;
  text-align: center;
}

#course ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
}

#course li { /* Courses boxes */
  background-color: var(--bright);
  display: block;
  margin: 1rem;
  max-width: 30rem;
  width: 20rem;
  transition: background-color 400ms ease 200ms,
              color 400ms ease 200ms;
  width: 30%;
}

#course li:hover,
#course li:focus { /* Courses boxes */
  background-color: var(--dark);
  color: var(--bright);
}

#course li > div:last-child { /* Courses box text */
  padding: 1rem;
}

#course li p { /* Text explaining the courses */
  font-family: var(--course);
  margin: 0.5rem 0;
}

@media only screen and (max-width: 900px) {

  #course {
    background-color: var(--bright);
  }

  #course li {
    background-color: var(--medium);
    margin: 0.5rem auto;
    max-width: none;
    min-width: none;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {

  #course {
    padding-bottom: 0;
  }
}

/* Thesis */

#thesis h2 {
  padding: 2rem;
  text-align: center;
}

#thesis > div { /* Main 'thesis' (Everithing besides the h2) */
  display: flex;
  padding: 0 1.5rem 2rem 1.5rem;
}

#thesis blockquote { /* Quote */
  margin-top: 1rem;
}

#thesis li { /* Aside 'thesis' */
  padding: 1rem 0 1rem 1rem;
}

@media only screen and (max-width: 900px) {

  #thesis > div {
    padding: 0
  }
}


/* FOOTER */

footer {
  background-color: var(--bright);
  padding: 0 0 2.5rem 0;
}

footer div { /* Container */
  border-top: 1px solid var(--header);
  margin: 0 1%;
  padding: 1rem 1.5rem;
}

footer a {
  font-weight: bold;
}

@media only screen and (max-width: 900px) {

  footer {
    padding: 1.5rem 0 0 0;
  }

  footer div {
    border-top: none;
    margin: 0;
  }
}
